@import url('https://fonts.googleapis.com/css?family=Righteous');

.accueil{
  font-family: "Righteous" , cursive;
}
.accueil .circle{
  height: 50px;
  width:50px;
  background-color: #0d0630;
  border-radius: 50%;
  color: white;
  padding-top:8px;
}

.accueil .center{
  justify-content: center;
  flex-direction: column;
}

.accueil .c{
  display: flex;
  justify-content: center;
}

.accueil .btn{
  height: 30px;
  background-color: #0d0630;
  font-size: 1.6rem;
  color: white;
}

.accueil .card{
  background-color: silver;
}

.accueil .b{
  margin-top: 30px;
  background-color: #0d0630;
  color:white;
}

.accueil input[type=email]{
  margin-top: 10px;
  width:330px;
  height: 30px;
}

.accueil input[type=submit]{
  width:160px;
  height: 30px;
  background-color: gray;
  border-radius: 20px;
  color: white;
  border-style: none;
}
