footer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  background-color: #0D0630;
  color: #FFEAD0;
  width: 100%;
  height: 200px;
}

footer ul {

}

footer ul li{

}

footer span {
}

.navLogo{
  display: flex;
  justify-content:flex-start;
  width: 100%;
}

.groupeLogo{
  display: flex;
  flex-direction: column;
}

.navFooter{
  align-self: flex-start;
}

.logo{

}

#copyright{

}
