@import "../../css/reset.css";
@import url('https://fonts.googleapis.com/css?family=Righteous');

.container {
  margin-bottom: 3%;
}

/* H1 - H2 */
.main_produits h1 {
  padding: 20px;
  color: white;
  margin: auto;
  background-color: #274156;
  text-align: center;
  border: 1px solid #274156;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px;
  width: 60%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.main_produits h2 {
  width: 100%;
  border: 1px solid ;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 20px;
  margin-top: 10%;
  color: #0d0630;
  padding-left: 1%;
}
/* CARDS */
.card {
  margin: 40px 0px 40px 0px;
  font-size: 1.6rem;
}

.card-header {
  font-size: 2.4rem;
  color: #0d0630;
  text-decoration: underline;
}

.card-footer {
  position: absolute;
  bottom: 50px;
  text-align: center;
  width: 100%;
}

.main_produits {
  width: 100%;
  margin: auto;
}

.card a {
  text-decoration: none;
  color: black;
}

.card {
  box-shadow: 0px 3px 3px 3px;
  border-radius: 5px;
  height: 550px;
}

.card_image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
}
/* BOUTON */
.btn-default {
  height: 50px;
  background-color: #274156;
  color: white;
  font-size: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.text_button {
  font-size: 1.8rem;
}

.btn-default:hover {
  background-color: #274156;
  opacity: 0.7;
}

/* IMAGES DES CARDS */
.image_card1 {
  background-image: url(../img/alienware.jpeg);
}

.image_card2 {
  background-image: url(../img/rightpc.png);
}

.image_card3 {
  background-image: url(../img/invictus.jpg);
}

.image_card4 {
  background-image: url(../img/razer.jpg);
}

.image_card5 {
  background-image: url(../img/titanx.jpg);
}

.image_card6 {
  background-image: url(../img/1080.jpeg);
}

.image_card7 {
  background-image: url(../img/1060.jpg);
}

.image_card8 {
  background-image: url(../img/r9.jpeg);
}

.image_card9 {
  background-image: url(../img/g910.jpeg);
}

.image_card10 {
  background-image: url(../img/naga.jpeg);
}

.image_card11 {
  background-image: url(../img/ecran.jpg);
}

.image_card12 {
  background-image: url(../img/volant.jpg);
}
