@import url('https://fonts.googleapis.com/css?family=Righteous');


#ban{
  width: 100%;
  height:300px;
  background-image: url('../img/ban.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
}

.title{
  font-family: 'Righteous', cursive;
  color: ;
  font-size: 6rem;
}

ul {
    list-style-type: none;
    height: 60px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#274156;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    box-shadow: 1px 6px 8px #888888;
}

li {
    height: 60px;
    float: left;
}

li a {
    height: 60px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Righteous', cursive;
    font-size: 2.2rem;
    border-right: 2px solid white;
}

li a:hover{
    background-color: black;
}

.deroule {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.deroule a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.deroule a:hover {background-color: #f1f1f1}

.prod:hover .deroule{
    display: block;
}
