@import "../../css/reset.css";
@import url('https://fonts.googleapis.com/css?family=Righteous');

.container_presentation {
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3% 5% 5% 5%;
  box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
}

.img_text1 {
  display: flex;
  align-items: center;
}

.img_text2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container_presentation h1 {
  text-align: center;
  color: #0d0630;
  width: 35%;
  align-self: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px black;
  margin-bottom: 20px;
}

.container_presentation p {
  padding: 30px;
  margin-top: 20px;
  line-height: 25px;
}

.container_presentation .p_middle {
  text-align: left;
}

.container_presentation .p_right {
  text-align: right;
  width: 50%;
}

.container_presentation .p_left {
  text-align: left;
  width: 50%;
}

.container_presentation img {
  max-width: 30%;
  height: auto !important;
  border-radius: 15px;
  border: 2px solid black;
}
