a{
  text-decoration: none;
  color: inherit;
  border: 0px solid black;
}

.produitMain{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1{
  margin: auto;
  margin-top: 50px;
}

.produitMain div{
  margin: auto;
  display: inline-flex;
  max-width: 40%;
  margin-top: 30px;
  margin-bottom: 50px;
}


.hardware , .software{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  padding: 10px;
  border: 4px groove black;
  border-radius: 10px;

  -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
}

.hardware:hover{
  background-color: lightblue;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,100,0.75);
  -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,100,0.75);
  box-shadow: 0px 0px 20px 2px rgba(0,0,100,0.75);
}

.software:hover{
  background-color: lightblue;
}

.produitMain div h2{
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.produitMain div span{
  margin: auto;
  margin-left: 30%;
}
