body{
  animation-name: fade;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  box-sizing: content-box;
}

.supportMain{
  background-color: white;
  border-style: groove;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 80%;
  -webkit-box-shadow: inset 0px 0px 30px 0px rgba(70,70,71,1);
-moz-box-shadow: inset 0px 0px 30px 0px rgba(70,70,71,1);
box-shadow: inset 0px 0px 30px 0px rgba(70,70,71,1);
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  background-color: rgb(0,0,0);
  opacity: 0.8;
  border-radius: 10px;
  border: 5px groove black;
  border-style: groove;
  color: white;
  animation-name: fadeopa;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

form *{
  margin: auto;
}

form fieldset{
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

form input{
  margin-top: 10px
}

form p{
  font-size: 2.0rem;
  text-decoration: underline;
  margin-bottom: 10px;
}

form fieldset *:not([type="submit"]){
  max-width: 80%
  opacity: 0.5;
}

form textarea{
  max-width: 70%;
  margin-top: 10px;
}

form input[type="submit"]{
  height: 38px;
  max-width: 30%;
  margin: auto;
  margin-top: 20px;
  background-color: #0d0630;
  color: white;
  opacity: 0.5;
  border-radius: 10px;
  font-size: 2.0rem;
  font-weight: bold;
}
form input:hover:not([type = "submit"]) , form textarea:hover , form select:hover{
  background-color: white;
  opacity: 1.0;
}
form input:hover[type="submit"]{
  max-width: 32%;
  height: 40px;
  background-color: white ;
  color: teal;
  opacity: 1.0;
  border: 2px solid teal;
}

@media (max-width: 500px) {
  form{
    max-width: 80%;
  }
  form textarea{
    display: none;
  }
  form fieldset p {
    font-size: 1.6rem;
  }

  form input[type="submit"]{
    font-size: 1.0rem;
  }
  form fieldset *:not([type="submit"]){
    max-width: 150px;
  }
}

@keyframes fade {
  to{
    background-color: white;
  }
  50%{
    background-color: silver;
  }
  from{
    background-color: white;
  }
}

@keyframes fadeopa {
  to{
   opacity: 0.8;
  }
  50%{
    opacity:0.9;
  }
  from{
    opacity: 0.8:
  }
}

@keyframes issou {
  to{
    background-color: red;
    border-radius: 0px;
  }
  10%{
    background-color: orange;
  }
  20%{
    background-color: yellow;
  }
  30%{
    background-color: green;
  }
  40%{
    background-color: purple;
  }
  50%{
    background-color: blue;
    border-radius: 50%;
  }
  60%{
    background-color: purple;
  }
  70%{
    background-color: yellow;
  }
  80%{
    background-color: orange;
  }
  90%{
    background-color: red;
    border-radius: 0px;
  }
  from{
    background-color: white;
  }
}
