body *{

}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
  margin-left: 33%;
  margin-right: 33%;
}

form fieldset{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
