@import "../../css/reset.css";
@import url('https://fonts.googleapis.com/css?family=Righteous');



.main_produits h1 {
  padding: 20px;
  color: white;
  margin: auto;
  background-color: #274156;
  text-align: center;
  border: 1px solid #274156;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px;
  width: 60%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.main_produits h2 {
  width: 100%;
  border: 1px solid ;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 20px;
  margin-top: 10%;
  color: #0d0630;
  padding-left: 1%;
}

.card {
  margin: 40px 0px 40px 0px;
  font-size: 1.6rem;
}

.main_produits {
  width: 980px;
  margin: auto;
}


.card a {
  text-decoration: none;
  color: black;
}

.card {
  box-shadow: 0px 3px 3px 3px;
  border-radius: 5px;
}

.card_image {
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px
}

/* IMAGES DES CARDS */
.image_card1 {
  background-image: url(../img/alienware.jpeg);
}

.image_card2 {
  background-image: url(../img/s340.jpg);
}

.image_card3 {
  background-image: url(../img/laptop.jpg);
}
